In [ ]:
DIVISLAB.NS, BAJAJ-AUTO.NS, TATAMOTORS.NS, TCS.NS, BAJFINANCE.NS, SBIN.NS, M&M.NS, BAJAJFINSV.NS, BHARTIARTL.NS, EICHERMOT.NS, NTPC.NS, HDFCLIFE.NS,
LTIM-T0.NS, KOTAKBANK.NS, ADANIPORTS.NS, BPCL.NS, HINDALCO.NS, RELIANCE.NS, TATASTEEL.NS, ADANIENT.NS , HDFCBANK.NS, HEROMOTOCO.NS, HCLTECH.NS, BRITANNIA.NS, 
RDY, AXISBANK.NS, APOLLOHOSP.NS, HINDUNILVR.BO, WIPRO.NS, ASIANPAINT.NS, INFY.NS, ITC.NS, SHRIRAMFIN.NS, ULTRACEMCO.NS, CIPLA.NS,
TECHM.NS, JSWSTEEL.NS, LT.NS, ONGC.NS, GRASIM.NS, TITAN.NS, POWERGRID.NS, MARUTI.NS, SUNPHARMA.NS, COALINDIA.NS, SBILIFE.NS

In [25]:
stocks_list = [
    "DIVISLAB.NS", "BAJAJ-AUTO.NS", "TATAMOTORS.NS", "TCS.NS", "BAJFINANCE.NS", "SBIN.NS",
    "M&M.NS", "BAJAJFINSV.NS", "BHARTIARTL.NS", "EICHERMOT.NS", "NTPC.NS", "HDFCLIFE.NS",
    "LTIM-T0.NS", "KOTAKBANK.NS", "ADANIPORTS.NS", "BPCL.NS", "HINDALCO.NS", "RELIANCE.NS",
    "TATASTEEL.NS", "ADANIENT.NS", "HDFCBANK.NS", "HEROMOTOCO.NS", "HCLTECH.NS", "BRITANNIA.NS",
    "RDY", "AXISBANK.NS", "APOLLOHOSP.NS", "HINDUNILVR.BO", "WIPRO.NS", "ASIANPAINT.NS", "INFY.NS",
    "ITC.NS", "SHRIRAMFIN.NS", "ULTRACEMCO.NS", "CIPLA.NS", "TECHM.NS", "JSWSTEEL.NS", "LT.NS",
    "ONGC.NS", "GRASIM.NS", "TITAN.NS", "POWERGRID.NS", "MARUTI.NS", "SUNPHARMA.NS", "COALINDIA.NS",
    "SBILIFE.NS", "NESTLEIND.NS", "INDUSINDBK.NS"
]

In [26]:
len(stocks_list )

48

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [3]:
path = r"D:\web_api\chromedriver-win64\chromedriver.exe"
service = webdriver.chrome.service.Service(path)
service.start()

In [6]:
ticker = 'AAPL'
url = f"https://finance.yahoo.com/quote/{ticker}/financials?p={ticker}"
driver = webdriver.Chrome(service= service)
driver.get(url)
driver.implicitly_wait(2)

//*[@id="Col1-1-Financials-Proxy"]/section/div[3]/div[1]/div/div[2]/div[1]/div[1]/div[2]/span

data-test

In [7]:
table = driver.find_element(By.XPATH, "//div[@class = 'Pos(r)']").text

In [8]:
table

'Breakdown\nTTM9/29/20239/29/20229/29/20219/29/2020\nTotal Revenue\n385,706,000 383,285,000 394,328,000 365,817,000 274,515,000\nCost of Revenue\n212,035,000 214,137,000 223,546,000 212,981,000 169,559,000\nGross Profit\n173,671,000 169,148,000 170,782,000 152,836,000 104,956,000\nOperating Expense\n55,013,000 54,847,000 51,345,000 43,887,000 38,668,000\nOperating Income\n118,658,000 114,301,000 119,437,000 108,949,000 66,288,000\nNet Non Operating Interest Income Expense\n- -183,000 -106,000 198,000 890,000\nOther Income Expense\n-39,000 -382,000 -228,000 60,000 -87,000\nPretax Income\n118,436,000 113,736,000 119,103,000 109,207,000 67,091,000\nTax Provision\n17,523,000 16,741,000 19,300,000 14,527,000 9,680,000\nNet Income Common Stockholders\n100,913,000 96,995,000 99,803,000 94,680,000 57,411,000\nDiluted NI Available to Com Stockholders\n100,913,000 96,995,000 99,803,000 94,680,000 57,411,000\nBasic EPS\n6.16 6.16 6.15 5.67 3.31\nDiluted EPS\n6.13 6.13 6.11 5.61 3.28\nBasic Average Shares\n15,744,231 15,744,231 16,215,963 16,701,272 17,352,119\nDiluted Average Shares\n15,812,547 15,812,547 16,325,819 16,864,919 17,528,214\nTotal Operating Income as Reported\n118,658,000 114,301,000 119,437,000 108,949,000 66,288,000\nTotal Expenses\n267,048,000 268,984,000 274,891,000 256,868,000 208,227,000\nNet Income from Continuing & Discontinued Operation\n100,913,000 96,995,000 99,803,000 94,680,000 57,411,000\nNormalized Income\n100,913,000 96,995,000 99,803,000 94,680,000 57,411,000\nInterest Income\n- 3,750,000 2,825,000 2,843,000 3,763,000\nInterest Expense\n- 3,933,000 2,931,000 2,645,000 2,873,000\nNet Interest Income\n- -183,000 -106,000 198,000 890,000\nEBIT\n122,026,000 117,669,000 122,034,000 111,852,000 69,964,000\nEBITDA\n133,477,000 129,188,000 133,138,000 123,136,000 81,020,000\nReconciled Cost of Revenue\n212,035,000 214,137,000 223,546,000 212,981,000 169,559,000\nReconciled Depreciation\n11,451,000 11,519,000 11,104,000 11,284,000 11,056,000\nNet Income from Continuing Operation Net Minority Interest\n100,913,000 96,995,000 99,803,000 94,680,000 57,411,000\nNormalized EBITDA\n133,477,000 129,188,000 133,138,000 123,136,000 81,020,000\nTax Rate for Calcs\n0 0 0 0 0\nTax Effect of Unusual Items\n0 0 0 0 0'

In [14]:
file_path = "output.txt"

# Open the file in write mode ('w')
with open(file_path, 'w') as file:
    # Write the contents of the variable to the file
    file.write(table)

In [9]:
print(table)

Breakdown
TTM9/29/20239/29/20229/29/20219/29/2020
Total Revenue
385,706,000 383,285,000 394,328,000 365,817,000 274,515,000
Cost of Revenue
212,035,000 214,137,000 223,546,000 212,981,000 169,559,000
Gross Profit
173,671,000 169,148,000 170,782,000 152,836,000 104,956,000
Operating Expense
55,013,000 54,847,000 51,345,000 43,887,000 38,668,000
Operating Income
118,658,000 114,301,000 119,437,000 108,949,000 66,288,000
Net Non Operating Interest Income Expense
- -183,000 -106,000 198,000 890,000
Other Income Expense
-39,000 -382,000 -228,000 60,000 -87,000
Pretax Income
118,436,000 113,736,000 119,103,000 109,207,000 67,091,000
Tax Provision
17,523,000 16,741,000 19,300,000 14,527,000 9,680,000
Net Income Common Stockholders
100,913,000 96,995,000 99,803,000 94,680,000 57,411,000
Diluted NI Available to Com Stockholders
100,913,000 96,995,000 99,803,000 94,680,000 57,411,000
Basic EPS
6.16 6.16 6.15 5.67 3.31
Diluted EPS
6.13 6.13 6.11 5.61 3.28
Basic Average Shares
15,744,231 15,744,231 16,215,963 16,701,272 17,352,119
Diluted Average Shares
15,812,547 15,812,547 16,325,819 16,864,919 17,528,214
Total Operating Income as Reported
118,658,000 114,301,000 119,437,000 108,949,000 66,288,000
Total Expenses
267,048,000 268,984,000 274,891,000 256,868,000 208,227,000
Net Income from Continuing & Discontinued Operation
100,913,000 96,995,000 99,803,000 94,680,000 57,411,000
Normalized Income
100,913,000 96,995,000 99,803,000 94,680,000 57,411,000
Interest Income
- 3,750,000 2,825,000 2,843,000 3,763,000
Interest Expense
- 3,933,000 2,931,000 2,645,000 2,873,000
Net Interest Income
- -183,000 -106,000 198,000 890,000
EBIT
122,026,000 117,669,000 122,034,000 111,852,000 69,964,000
EBITDA
133,477,000 129,188,000 133,138,000 123,136,000 81,020,000
Reconciled Cost of Revenue
212,035,000 214,137,000 223,546,000 212,981,000 169,559,000
Reconciled Depreciation
11,451,000 11,519,000 11,104,000 11,284,000 11,056,000
Net Income from Continuing Operation Net Minority Interest
100,913,000 96,995,000 99,803,000 94,680,000 57,411,000
Normalized EBITDA
133,477,000 129,188,000 133,138,000 123,136,000 81,020,000
Tax Rate for Calcs
0 0 0 0 0
Tax Effect of Unusual Items
0 0 0 0 0

In [16]:
incomee_state = {}
table_heading = driver.find_elements(By.XPATH,"//*[contains(@class,'Ta(c) Py(6px) Bxz(bb) BdB Bdc($seperatorColor) Miw(120px) Miw(100px)--pnclg D(ib) Fw(b)')]" )

In [17]:
table_heading

[<selenium.webdriver.remote.webelement.WebElement (session="4ae39ba8ee6c2510c6d2638c8059b92d", element="f.A1507FB0AF5638158549F52EBDA792A1.d.6223141B83F587B33EF5822970555AAD.e.556")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ae39ba8ee6c2510c6d2638c8059b92d", element="f.A1507FB0AF5638158549F52EBDA792A1.d.6223141B83F587B33EF5822970555AAD.e.557")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ae39ba8ee6c2510c6d2638c8059b92d", element="f.A1507FB0AF5638158549F52EBDA792A1.d.6223141B83F587B33EF5822970555AAD.e.5946")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ae39ba8ee6c2510c6d2638c8059b92d", element="f.A1507FB0AF5638158549F52EBDA792A1.d.6223141B83F587B33EF5822970555AAD.e.558")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ae39ba8ee6c2510c6d2638c8059b92d", element="f.A1507FB0AF5638158549F52EBDA792A1.d.6223141B83F587B33EF5822970555AAD.e.559")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ae39ba8ee6c2510c6d2638c8059b92d", element="f.A1507FB0AF5638158549F52EBDA792A1.d.6223141B83F587B33EF5822970555AAD.e.560")>]

class="D(tbr) C($primaryColor)"

In [21]:
table_heading = driver.find_elements(By.XPATH,"//*[contains(@class,'D(tbr) C($primaryColor)')]" )

AttributeError: 'list' object has no attribute 'text'

In [22]:
table_heading